@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
  color: white;
}
.gradient-1 {
  background: linear-gradient(
    180deg,
    #2565e1,
    #2565e1 30%,
    #d225e1 30%,
    #cfecfd 50%,
    #7aebfb 50%
  );
  background-color: #ffffff00;
}
